.tableTransaction {
  @apply mt-5;
  padding-top: 0;
  padding-bottom: 27px;
  :global {
    .ant-table-body {
      &::-webkit-scrollbar {
        width: 6px;
      }

      &::-webkit-scrollbar-thumb {
        opacity: 0.5;
        border-radius: 4px;
        background-color: #c8c7cc;
      }
    }
    .ant-pagination {
      margin-bottom: 0;
    }
  }
}
