.login {
  @apply grid grid-cols-3 relative;
  &__img {
    @apply col-span-2 h-screen object-cover;
    img {
      @apply w-full h-full object-cover;
    }
  }
  &__content {
    @apply flex flex-col justify-center;
    padding: 0 55px;
    box-shadow: -2px 0 12px 0 rgba(0, 0, 0, 0.21);
    background-color: var(--red);
  }
  .title {
    margin-bottom: 30px;
  }
  .logo {
    @apply absolute;
    top: 50px;
    left: 50px;
    width: 350px;
    height: 135px;
  }
}

:global {
  .ant-form-item-explain-error {
    color: white;
  }
}
