.btn {
  @apply w-full;
  width: 100%;
}
.field__confirm {
  input {
    background-color: rgba(239, 149, 172, 0.5);
    &::placeholder {
      color: var(--white);
      text-align: center;
    }
  }
}
