.header {
  @apply flex items-center justify-between fixed top-0 w-[77%];
  background-color: var((--white));
  padding: 29px 0;
  border-bottom: solid 1px rgba(84, 110, 122, 0.2);
}

.icon__nav {
  @apply flex items-center;
  a {
    &:not(:last-child) {
      margin-right: 29px;
    }
  }
}
