.text {
  &__size {
    font-size: var(--font-size);
    &--h1 {
      @apply font-bold;
      font-size: 24px;
    }
    &--h2 {
      @apply font-bold;
      font-size: 19px;
    }
    &--h3 {
      @apply font-bold;
      font-size: 14px;
    }
  }
  &__color {
    &--black {
      color: #000;
    }
    &--grey {
      color: var(--grey);
    }
    &--green {
      color: var(--green);
    }
    &--red {
      color: var(--red);
    }
    &--white {
      color: var(--white);
    }
  }
}
