.dashboard {
  @apply grid grid-cols-2;
  gap: 21px;
  > div {
    padding-top: 21px;
  }
}

.dashboardCurrentAccount,
.dashboardSaving {
  margin-top: 25px;
}

.dashboardCurrentAccount {
  position: relative;
}

.dashboardLeft {
  :global {
    .ps {
      max-height: calc(100vh - 250px);
      padding-right: 25px;
    }
    .ps__rail-y {
      right: 10px !important;
    }
    .current-account {
      padding-right: 0;
    }
  }
}

.dashboardRight {
}

.dashboardTransactionFilter {
  @apply flex gap-3;
  a {
    position: relative;
  }
  .active {
    &::after {
      position: absolute;
      content: "";
      bottom: -2px;
      height: 2px;
      width: 100%;
      left: 0;
      background-color: var(--red);
    }
  }
}
