.select {
  @apply relative;
  margin-bottom: 0;
  border-radius: 4px;
  box-shadow: 1.5px 1.5px 6px 0 rgba(0, 0, 0, 0.04);
  background-color: var(--white);

  svg {
    @apply absolute z-10;
    fill: var(--grey_light);
    margin-right: 9px;
    left: 14.1px;
    top: 50%;
    transform: translateY(-50%);
  }
  :global {
    .ant-select {
      @apply w-full;
      .ant-select-selector {
        border: none !important;
        padding: 0;
        position: inherit;
        border-radius: 4px;
        box-shadow: 1.5px 1.5px 6px 0 rgba(0, 0, 0, 0.04);
        border: solid 1px rgba(200, 199, 204, 0.4);
        width: 164px;
        height: 38px;
        padding: 3px 12.9px 3px 40.1px;
      }
    }
    .ant-select-focused {
      box-shadow: 1.5px 1.5px 6px 0 rgba(0, 0, 0, 0.04) !important;
      .ant-select-selector {
        box-shadow: 1.5px 1.5px 6px 0 rgba(0, 0, 0, 0.04) !important;
      }
    }
    .ant-form-item-control-input-content {
      @apply flex items-center w-full;
    }
    .ant-select-selection-item {
      color: var(--grey);
      overflow: visible;
      padding-right: 0;
    }
  }
  svg {
    width: 17px;
    height: 10.4px;
  }
}
.option {
  background-color: var(--white) !important;
  font-weight: 500;
  font-size: 14px;
  color: #90a4ae !important;
  transition: 0.2s ease-in-out;
  &:not(:last-child) {
    border-bottom: 1px solid rgba(84, 110, 122, 0.2);
  }
  &:hover {
    font-weight: 600;
    color: #546e7a !important;
  }
}
