.select {
  @apply w-full;

  border-radius: 4px;
  box-shadow: 1.5px 1.5px 6px 0 rgba(0, 0, 0, 0.04);
  background-color: var(--white);
  padding: 3px 13px;
  svg {
    fill: var(--grey_light);
    margin-right: 9px;
  }
  :global {
    .ant-select {
      @apply w-full;
      .ant-select-selector {
        border: none !important;
        padding: 0;
        position: inherit;
        box-shadow: none !important;
      }
    }
    .ant-form-item-control-input-content {
      @apply flex items-center w-full;
    }
    .ant-select-selection-item {
      color: var(--grey);
    }
  }
}
.option {
  background-color: var(--white) !important;
  font-weight: 500;
  font-size: 14px;
  color: #90a4ae !important;
  transition: 0.2s ease-in-out;
  &:not(:last-child) {
    border-bottom: 1px solid rgba(84, 110, 122, 0.2);
  }
  &:hover {
    font-weight: 600;
    color: #546e7a !important;
  }
}
