.switch {
  @apply flex items-center;
  p {
    margin-left: 20px;
  }
}
:global {
  .ant-switch {
    background-color: #f5f5f5;
    min-width: 40px;
    height: 25px;
    &.ant-switch-checked {
      background-color: var(--red) !important;
    }
  }

  .ant-switch-handle {
    left: 0;
    width: 23px;
    height: 23px;
    top: 0;
    &::before {
      @apply bg-white;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
      border-radius: 50%;
      border: solid 1px #c8c7cc;
    }
  }
}
