.title {
  sup {
    font-size: 14px;
    color: var(--grey);
    font-weight: normal;
  }
}
.logo {
  width: 100px;
  height: 100px;
  &__container {
    @apply flex flex-col items-center justify-center flex-row;

    margin: 40px 0;
  }
}
.card__crypto {
  padding: 26px 27px;
}
.identity {
  @apply text-center;
  width: 70%;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: 0.1px;
  margin: 40px 0 auto;
}
.btn {
  @apply mx-auto;
  margin-bottom: 40px;
  max-width: 200px;
  width: 100%;
}
.txt {
  &__footer {
    @apply text-center;
    margin-top: 40px;
  }
}
.QR_code {
  @apply mx-auto;
  width: 150px;
  height: 150px;
}
