.login {
  @apply grid grid-cols-3;
  &__img {
    @apply col-span-2 h-screen object-cover;
    img {
      @apply w-full h-full object-cover;
    }
  }
  &__content {
    @apply flex flex-col justify-center;
    padding: 0 55px;
    background-color: var(--red);
  }
  &__text {
    @apply flex items-center justify-between;
    color: var(--white);

    a {
      &:hover {
        @apply text-white;
      }
    }
  }
  &__btn {
    body & {
      @apply w-full;
    }
    margin-top: 50px;
  }
  &__pg {
    @apply text-center;
    margin: 20px 0;
  }
  :global {
    .ant-checkbox-wrapper {
      color: var(--white);
      &:hover .ant-checkbox-checked::after {
        border: 1px solid var(--white);
      }
      .ant-checkbox-checked {
        .ant-checkbox-inner {
          background-color: var(--red);
          border-color: var(--white);
        }
      }
    }
  }
}
