@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --grey: #546e7a;
  --red: #e02b59;
  --grey_light: #90a4ae;
  --green: #5cb85c;
  --white: #fff;
  --pink: #ef95ac;
}

.ant-layout-content {
  background-color: #f5f5f5;
}
body {
  .ant-picker-content {
    .ant-picker-cell {
      // @apply flex items-center justify-center;
      height: 32px;
      width: 32px;
      font-size: 16px;
      color: var(--grey);
      padding: 5px;
    }
  }
  .ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner,
  .ant-picker-cell-in-view.ant-picker-cell-range-start .ant-picker-cell-inner,
  .ant-picker-cell-in-view.ant-picker-cell-range-end .ant-picker-cell-inner {
    @apply flex items-center justify-center;
    background-color: var(--red) !important;
    border-radius: 50% !important;
    padding: 10px !important;
    height: 32px;
    width: 32px;
  }
  .ant-picker-cell-in-view.ant-picker-cell-today
    .ant-picker-cell-inner::before {
    border: 1px solid var(--grey);
    border-radius: 50%;
    top: -3px;
    left: -3px;
    bottom: -3px;
    right: -3px;
  }
  .ant-picker-today-btn {
    color: var(--red);
  }

  .ant-picker-cell-in-view.ant-picker-cell-in-range {
    color: var(--white);
    &:last-child,
    &.ant-picker-cell-end {
      &::before {
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
      }
    }
    &:first-child,
    &.ant-picker-cell-start {
      &::before {
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
      }
    }
    &::before {
      background-color: var(--pink) !important;
    }
  }

  .ant-picker-cell-in-view.ant-picker-cell-range-hover-start:not(.ant-picker-cell-in-range):not(.ant-picker-cell-range-start):not(.ant-picker-cell-range-end)::after,
  .ant-picker-cell-in-view.ant-picker-cell-range-hover-end:not(.ant-picker-cell-in-range):not(.ant-picker-cell-range-start):not(.ant-picker-cell-range-end)::after,
  .ant-picker-cell-in-view.ant-picker-cell-range-hover-start.ant-picker-cell-range-start-single::after,
  .ant-picker-cell-in-view.ant-picker-cell-range-hover-start.ant-picker-cell-range-start.ant-picker-cell-range-end.ant-picker-cell-range-end-near-hover::after,
  .ant-picker-cell-in-view.ant-picker-cell-range-hover-end.ant-picker-cell-range-start.ant-picker-cell-range-end.ant-picker-cell-range-start-near-hover::after,
  .ant-picker-cell-in-view.ant-picker-cell-range-hover-end.ant-picker-cell-range-end-single::after,
  .ant-picker-cell-in-view.ant-picker-cell-range-hover:not(.ant-picker-cell-in-range)::after {
    background-color: var(--pink);
    border: solid 1px var(--pink);
    height: 32px;
    transition: none;
  }

  .ant-picker-cell-in-view.ant-picker-cell-range-hover-start::after {
    left: 16px;
  }

  .ant-picker-cell-range-hover-start::after,
  .ant-picker-cell-range-hover-end::after,
  .ant-picker-cell-range-hover::after {
    left: 0;
  }

  .ant-picker-cell::before {
    height: 32px;
  }

  .ant-picker-cell-in-view.ant-picker-cell-range-start:not(.ant-picker-cell-range-start-single)::before,
  .ant-picker-cell-in-view.ant-picker-cell-range-end:not(.ant-picker-cell-range-end-single)::before {
    background-color: var(--pink);
  }

  .ant-picker-range .ant-picker-active-bar {
    background-color: var(--red);
  }
}

//common style
.common__field {
  @apply col-span-2;
  &-wrap {
    @apply grid grid-cols-3 items-end;
    gap: 12px;
    margin-top: 25px;
  }
}
.common__txt {
  @apply text-center;
  width: 50%;
  margin: 40px auto 25px auto;
  line-height: 1.43;
  strong {
    color: var(--red);
  }
}
.common__info {
  @apply text-center;
  font-weight: 600 !important;
  line-height: 1.43;
}
