.transaction {
  @apply flex items-start justify-between;
  padding: 18px 0;
  &:not(:last-child) {
    border-bottom: 1px solid rgba(84, 110, 122, 0.2);
  }
  &__info {
    @apply flex items-center;
    &_txt {
      margin-left: 25px;
    }
  }
  &__date {
    margin-bottom: 12px;
  }
}
.name {
  @apply font-semibold;
}
