.datepicker {
  position: relative;
  background: transparent;

  :global {
    .ant-picker-range {
      @apply flex items-center;
    }
    .ant-picker-range {
      opacity: 0;
      // visibility: hidden;
      width: 0;
      height: 38px;
      position: absolute;
      top: 0;
      left: 0;
    }

    input {
      color: var(--grey);
    }
    .ant-picker-focused {
      border: none;
      box-shadow: none;
    }
  }
}
.calendar {
  width: 100%;
  border: none;
}

.datepickerTrigger {
  @apply inline-flex items-center;
  padding: 7px 13.6px 7px 14px;
  border-radius: 4px;
  box-shadow: 1.5px 1.5px 6px 0 rgba(0, 0, 0, 0.04);
  border: solid 1px rgba(200, 199, 204, 0.4);
  background-color: #fff;
  color: #90a4ae;
  svg {
    width: 17px;
    height: 17px;
    margin-right: 10px;
    fill: var(--grey_light);
  }
}

.datepickerTriggerActive {
  background-color: var(--grey);
}

.datepickerTriggerFilled {
  background-color: var(--red);
}

:global {
  .ant-picker-panel-container .ant-picker-panels .ant-picker-panel:first-child {
    .ant-picker-date-panel {
      position: relative;
      &::after {
        content: " ";
        display: block;
        width: 1px;
        height: 87%;
        background-color: rgba(84, 110, 122, 0.2);
        position: absolute;
        top: 50%;
        right: 0px;
        transform: translateY(-50%);
      }
    }
  }

  .ant-picker-header-view::after {
    content: "\e906";
    font-family: "icomoon" !important;
    display: inline-block;
    margin-left: 10px;
    font-size: 6px;
    color: #90a4ae;
    transform: translateY(-2px);
  }
  .ant-picker-decade-panel,
  .ant-picker-year-panel,
  .ant-picker-quarter-panel,
  .ant-picker-month-panel,
  .ant-picker-week-panel,
  .ant-picker-date-panel,
  .ant-picker-time-panel {
    width: 323px;
  }
}
