.select {
  :global {
    .ant-form-item-control-input-content {
      @apply flex items-center;
      border-radius: 4px;
      box-shadow: 1.5px 1.5px 6px 0 rgba(0, 0, 0, 0.04);
      border: solid 1px rgba(200, 199, 204, 0.4);
      background-color: var(--white);
      padding: 4px 13px;
      svg {
        margin-right: 10px;
        fill: var(--grey_light);
      }
    }

    input {
      color: var(--grey);
    }
    .ant-picker-focused {
      border: none;
      box-shadow: none;
    }
  }
}
.calendar {
  width: 100%;
  border: none;
}
